:root {
    --fs-sm:14px;
    --fs-md:18px;
    --fs-lg:24px;
    --fs-xl:36px;
    --fs-xxl:48px;
    --primary-color:white;
    --color-black:black;
}

.--fs-sm{
    font-size: 14px;
}
.--fs-md{
        font-size:18px ;
}
.--fs-lg{
    font-size:24px;
}
.--fs-xl{
    font-size:36px;
}
.--fs-xxl{
    font-size: 48px;
}
.--primary-color{
    color: white;
}
.--color-black{
    color: black;
}


:root{
    --fs-18:12px;
    --fs-20:20px;
    --fs-24:24px;
    --fs-36:36px;
    --fs-48:48px;
    --fs-64:64px;
    --fs-144:41px;
}

.fs-18{
    font-size: var(--fs-18);
}

.fs-24{
    font-size: var(--fs-24);
}

.fs-20{
    font-size: var(--fs-20);
}

.fs-144{
    font-size: var(--fs-144);
}

.fs-48{
    font-size: var(--fs-48);
}

.fs-36{
    font-size: var(--fs-36);
}


.fs-64{
    font-size: var(--fs-64);
}



@media (min-width:576px) {
    :root{
        --fs-18:18px;
        --fs-20:20px;
        --fs-24:18px;
        --fs-144:75px;
        --fs-48:48px;
    
    }

}

@media (min-width:768px) {
    :root{
        --fs-18:18px;
        --fs-20:20px;
        --fs-24:20px;
        --fs-144:90px;
        --fs-48:48px;
    
    }
  
}

@media (min-width:992px) {
    :root{
        --fs-18:18px;
        --fs-20:20px;
        --fs-24:22px;
        --fs-144:110px;
        --fs-48:48px;
    
    }

    .text_width1 {
        width: 292px;
    }
  
}

@media (min-width:1200px) {
    :root{
        --fs-18:18px;
        --fs-20:20px;
        --fs-24:24px;
        --fs-144:144px;
        --fs-48:48px;
    
    }
  
}



