@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none !important;
  /* border: 1px solid red;  */
}

.container-main {
  max-width: 1320px;
  padding-right: 12px;
  padding-left: 12px;
  margin-left: auto;
  margin-right: auto;
}

ul li a {
  font-size: var(--fs-md);
}

header {
  background-image: url(/assets/images/hero-page-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.wrapper ul li a {
  color: #9003e5;
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-md);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke: 0.5px #8e03e500;
  transition: 300ms linear;
}

.page-1-para {
  color: #8a3e74;
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-md);
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.page-1-heading {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-xl);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-color {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #9003e5, #f93b95) 1;
  width: 190px;
  padding: 13px 45px;
  color: linear-gradient(to right, #9003e5, #f93b95);
  background-color: transparent;
}

ul li a:hover {
  -webkit-text-stroke: 0.5px #9003e5;
}

li a:after {
  content: "";
  margin: auto;
  display: block;
  height: 2px;
  width: 0%;
  background-color: transparent;
  /* transition: width 0.5s ease,background-color 0.5s ease; */
  transition: all 0.5s ease;
}

li a:hover:after {
  width: 100%;
  background-color: #ef4138;
}

/* button-color */
button {
  overflow: hidden;
}

button:hover {
  color: #ffffff;
  transform: scale(1.1);
  /* outline: 2px solid ; */
  box-shadow: 4px 5px 17px -4px;
}

button::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient(to right, #9003e5, #f93b95);
  transform: skewX(45deg);
  z-index: -2;
  transition: 1000ms;
}

button:hover::before {
  width: 130%;
}

/* button-color */

.heading-page-2 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-xxl);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 100px;
  margin-bottom: 15px;
}

.top-99 {
  top: 99%;
}

.paint-1 {
  position: absolute;
  right: 0;
  top: 99%;
}

.width-0 {
  width: 0;
}

.paint-2 {
  position: absolute;
  left: 0;
  top: 164%;
}

.z-index {
  z-index: -1;
}

/* dot */

.dot-typing {
  position: relative;
  left: -9350px;
  top: 130px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #9003e5, #f93b95);
  color: #9880ff;
  box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  animation: dot-typing 1.5s infinite linear;
  margin-bottom: 50px;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  16.667% {
    box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  33.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  50% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  66.667% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  83.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px -10px 0 0 #9880ff;
  }

  100% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
}

.dot-typing-1 {
  position: relative;
  left: -9245px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #9003e5, #f93b95);
  color: #9880ff;
  box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  animation: dot-typing 1.5s infinite linear;
  margin-bottom: 40px;
  margin-top: 15px;
}

@keyframes dot-typing-1 {
  0% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  16.667% {
    box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  33.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  50% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  66.667% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }

  83.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px -10px 0 0 #9880ff;
  }

  100% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
}

/* dot */
/* line */

.mb-200 {
  margin-bottom: 100px;
}

.mb-100 {
  margin-bottom: 70%;
}



/* line */
/* gallery */
.wrapper-1 {
  overflow-x: hidden;
}

.my-slider {
  padding: 0 30px;
}

.slick-slider {
  margin-bottom: 10px !important;
}

.slick-initialized .slick-slide {
  color: var(--primary-color);
  height: 200px;
  /* margin: 0 15px 0 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-next,
.slick-prev {
  z-index: 5;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
}

.slick-next:before,
.slick-prev:before {
  color: #000;
  font-size: 26px;
}

/* gallery */

.card-box {
  transition: all 600ms;
}

.card-box:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.element {
  transition: all 700ms;
}

.element:hover {
  transform: scale(1.0);
}

/*  */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(31, 31, 31, 0.85);
  color: white;
  position: absolute;
  top: 35px;
  width: 200px;
  left: 80px;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #9003e5, #f93b95) 1;
}

.gallery-text {
  font-size: 14px;
  padding-top: 20px;
}

.gallery-text-1 {
  font-size: 12px;
}

.content * {
  transform: translateY(-70%);
  transition: all 0.3s ease;
  opacity: 0;
}

.element:hover .content {
  opacity: 1;
}

.element:hover .content * {
  opacity: 1;
  transform: translateY(0);
}

/*  */
.ml-sm-40 {
  margin-left: 46px;
}

.ml {
  margin-left: 20px;
}

.section-4-img {
  width: 100%;
  border-radius: 23px;


  transition: all 700ms;
}

.section-4-img:hover {
  transform: scale(0.9);
}

.pt-50 {
  padding-top: 20%;
}

.color-img {
  left: 0;
  z-index: -1;
  position: absolute;
}

.color-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* grid */
.border-dotted {
  border-right: 2px dotted black;
}

.border-bottom-1 {
  border-bottom: 2px dotted black;
}

.paint-image {
  transition: all 800ms;
}

.paint-image:hover {
  transform: scale(1.3);
}

.padding-30 {
  padding: 97px;
}

.mt-50 {
  margin-top: 21%;
}

.animation-grid {
  transition: all 700ms;
}

.animation-grid:hover {
  transform: scale(1.2);
}

/* grid */
.heading-section-4 {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.para-page-4 {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.699999988079071;
}































@media (max-width: 786px) {
  .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(210, 218, 96);
    background: linear-gradient(38deg,
        rgba(210, 218, 96, 1) 0%,
        rgba(210, 218, 96, 1) 42%,
        rgba(7, 150, 216, 1) 72%);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }

  #active:checked~.wrapper {
    clip-path: circle(75%);
  }

  .menu-btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
  }

  #active:checked~.menu-btn {
    background: #fff;
    color: #4158d0;
  }

  #active:checked~.menu-btn i:before {
    content: "\f00d";
  }

  .wrapper ul {
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    align-items: center;
    gap: 0px !important;
  }

  /* .wrapper ul li {
    margin: 15px 0;
  } */
  .ml-24-md {
    margin-left: -24px;
  }

  .wrapper ul li a {
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }

  .wrapper ul li a:after {
    position: absolute;
    content: "";
    /* background: #fff; */
    width: 100%;
    /* height: 50px; */
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }

  .wrapper ul li a:hover:after {
    transform: scaleY(1);
  }



  input[type="checkbox"] {
    display: none;
  }
}

.ml-xl-60 {
  margin-left: 60px !important;
}

.ml-xl-30 {
  margin-left: 30px !important;
}


.page-1-heading {
  font-size: 32px;
}

.btn-color {
  width: 120px;
  padding: 0px 16px;
  font-size: 14px;
}

.heading-page-2 {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: -120px;
}

.margin-120 {
  margin-bottom: -120px;
}

.heading-section-4 {
  font-size: 38px;
  margin-top: -40px;
}

.para-page-4 {
  font-size: 14px;
  text-align: justify;
}

.ml-0 {
  margin-left: 0px;
}

.dot-typing {
  left: -9851px;
}

.dot-typing-1 {
  left: -9830px;
}

.mt-140 {
  margin-top: 140px;
}

@media (min-width:576px) and (max-width:768px) {
  .mt-sm-50 {
    margin-top: 85px;
  }

  .v-line-1 {
    display: none;
  }

  .v-line-2 {
    display: none;
  }

  .v-line-3 {
    display: none;
  }

  .mt-50 {
    margin-top: 0px !important;
  }

  .content-lg {
    left: 120px;
  }

  .dot-typing-md {
    left: -9746px;
    top: 121px;
  }

  .dot-typing-1-sm {
    left: -9623px;
  }

  .border-dotted-sm {
    border-right: 2px dotted;
  }
}

@media (min-width:768px) and (max-width:992px) {
  .wrapper ul li a {
    font-size: var(--fs-sm);
  }

  .ml-sm-40 {
    margin-left: 40px;
  }

  .ml {
    margin-left: 12px;
  }

  .wrapper ul li {
    width: 120px;
  }

  .gap-1-md {
    gap: 0 !important;
  }

  .text-choose {
    width: 92px;
    margin-top: 10px;
  }

  .content-md {
    left: 20px;
    bottom: 60px;
  }

  .dot-typing-1-md {
    left: -9577px;
  }

  .dot-typing-md {
    left: -9651px;
  }

  .ml-md-50 {
    margin-left: -50px;
  }

  .ml-md-40 {
    margin-left: -40px;
  }

  .ml-md-35 {
    margin-left: -35px;
  }

  .heading-md {
    font-size: 48px;
  }

  .border-dotted-md {
    border-right: 2px dotted black;
  }

  .border-bottom-1-md {
    border-bottom: 2px dotted black;

  }
}

@media (min-width:992px) and (max-width:1200px) {
  .fs-lg-14 {
    font-size: var(--fs-sm);
  }

  .dot-typing-md {
    left: -9521px;
  }

  .dot-typing-1-lg {
    left: -9474px;
  }

  .border-dotted-lg {
    border-right: 2px dotted black;
  }

  .border-bottom-1-lg {
    border-bottom: 2px dotted black;
  }
}

/* @media (min-width:1200px) {
  .border-bottom-1-xl {
    border-bottom: 2px dotted black;
  }

  .border-dotted-xl {
    border-right: 2px dotted black;
  }

  .dot-typing-xl {
    left: -9450px;

  }

  .page-1-para-xl {
    font-size: 18px;
  }

  .dot-typing-1-xl {
    left: -9378px;
  }


} */